* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flexbox;
  justify-content: center;
  align-items: center;
}
main {
  background-color: black;

  display: grid;
  height: 100vh;
  grid-gap: 10px;
  padding: 10px;
  grid-template-rows: 24% 13% 13% 10% 10% 25%;
  grid-template-columns: 22% 25% 22% 28%;
  grid-template-areas:
    "long-phone charge charge graphic"
    "long-phone icons shock shock"
    "cart protrait shock shock"
    "cart protrait model extra"
    "poster poster model extra"
    "poster poster list logo";
}

.child {
  border-radius: 20px;
  padding: 6px;
}

img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

#child1 {
  /* background-color: #ff0000; */
  grid-area: long-phone;
}
#child2 {
  /* background-color: #ffd6a5; */
  grid-area: charge;
}
#child3 {
  /* background-color: #fdffb6; */
  grid-area: graphic;
}
#child4 {
  /* background-color: #caffbf; */
  grid-area: icons;
}
#child5 {
  /* background-color: #9bf6ff; */
  grid-area: shock;
}
#child6 {
  /* background-color: #a0c4ff; */
  grid-area: cart;
}
#child7 {
  /* background-color: #bdb2ff; */
  grid-area: protrait;
  position: relative;

  object-fit: cover;
}
#extra {
  grid-area: extra;
  /* background-color: red; */
}
#child8 {
  /* background-color: red; */
  object-fit: contain;
  grid-area: model;
}
#child9 {
  /* background-color: #fffffc; */
  grid-area: poster;
}
#child10 {
  /* background-color: #d0f4de; */
  grid-area: list;
}
#child11 {
  /* background-color: red; */
  grid-area: logo;
}
