* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f9f5f1;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
}
.navContainer .linkContainer {
  display: flex;
  gap: 50px;
  align-items: center;
}
.navContainer .linkContainer .link {
  text-decoration: none;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: #615cc5;
}
.navContainer .linkContainer .Started {
  background: #615cc5;
  color: inherit;
  border: none;
  color: white;
  padding: 13px 30px;
  font-weight: bold;
  font-size: large;
  border-radius: 5rem;
  cursor: pointer;
  outline: inherit;
}
@media (max-width: 853px) {
  .navContainer .linkContainer {
    display: none;
  }
}

.heroContainer {
  width: 100%;
  background-color: rd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroContainer .smallWrapper {
  width: 70vw;
  max-height: 100%;
  margin-top: 4rem;
  padding: 0px 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 10rem;
}
.heroContainer .smallWrapper .heroText {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.heroContainer .smallWrapper .heroText .heading {
  font-size: 70px;
  text-transform: capitalize;
}
.heroContainer .smallWrapper .heroText .heading .avatar {
  display: inline-flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  transform: translateY(20%);
}
@media (max-width: 500px) {
  .heroContainer .smallWrapper .heroText .heading .avatar {
    display: none;
  }
}
@media (max-width: 500px) {
  .heroContainer .smallWrapper .heroText .heading {
    font-size: 40px;
  }
}
.heroContainer .smallWrapper .heroText .body {
  font-size: larger;
  line-height: 2rem;
}
.heroContainer .smallWrapper .heroText .Started {
  background: #615cc5;
  color: inherit;
  border: none;
  color: white;
  padding: 13px 30px;
  font-weight: bold;
  font-size: large;
  border-radius: 5rem;
  cursor: pointer;
  outline: inherit;
}
@media (max-width: 1160px) {
  .heroContainer .smallWrapper .heroText {
    max-width: 95%;
    text-align: center;
  }
}
@media (max-width: 1140px) {
  .heroContainer .smallWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 1440px) {
  .heroContainer .smallWrapper {
    width: 85vw;
    padding: 0px 10px;
  }
}
.heroContainer .heroImg {
  height: 600px;
  width: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 1140px) {
  .heroContainer .heroImg {
    width: 30rem;
  }
}
@media (max-width: 500px) {
  .heroContainer .heroImg {
    width: 20rem;
    height: 15rem;
  }
}

.crouselContainer {
  display: flex;
  overflow-y: scroll;
  margin-top: 2em;
  gap: 10rem;
  background-color: #d7befc;
}

.crouselContainer::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  animation: spin 10s infinite linear;
}

.item {
  flex: 0 0 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers (Chrome, Safari, Edge) */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

@media (max-width: 500px) {
  .heroContainer {
    min-width: 100vw;
  }
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.group img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=style.css.map */