/* Basic CSS Boilerplate */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: white;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboardParent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: fit-content;
  padding: 10px 10px;
  /* background-color: black; */
  border-radius: 10px;
}

.keyboardParent div {
  color: black;
  border:2px solid black;
  padding: 5px 10px;
  font-size: xx-large;
  background-color: white;
}
